<%- include ('partials/header.ejs') %>





    <div class="container">
        <h1 style="margin-bottom:30px">About Us</h1>
      <ul style="list-style-type: square;font-size: 25px;margin:5px">
        <li>A EasyGo is a website for making happy journeys for major cities of India.</li>


        <li>The information relates to the type of the places, its regional importance and the steps involved in booking tickets and hotel.</li>


        <li>Not only that its gives information on existing hotels but also gives a privilege to user who access the website that has an information about nearby attractions</li>


        <li>Create a new user, book a place, mode of transport and even a hotel or a best place to stay all at once.</li>


        <li>All information about the place, transport and hotel is already known and updated.</li>


        <li>A mail will be sent after booking or cancelation.</li>
      </ul>

    </div>


    <%- include ('partials/footer.ejs') %>
