<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>About us</title>
    <style media="screen">
      .container{
      margin-top:20px;
      }
      body {
     background : url('img/halftone-yellow.png')no-repeat center fixed;
     background-position: center;
     background-size:cover;

      }

    </style>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
  </head>
  <body>

    <div class="container" style="margin-top: 12rem;">
    <h1>About Us</h1>
    </div>
    <div class="container">
      <ul>
        <li>A EasyGO is a website for making happy journeys for major cities of India.</li>


        <li>The information relates to the type of the places, its regional importance and the steps involved in booking tickets and hotel.</li>


        <li>Not only that its gives information on existing hotels but also gives a privilege to user who access the website that has an information about nearby attractions</li>


        <li>Create a new user, book a place, mode of transport and even a hotel or a best place to stay all at once.</li>


        <li>All information about the place, transport and hotel is already known and updated.</li>


        <li>A mail will be sent after booking or cancelation.</li>
      </ul>

    </div>
<div class="container">
<a class="btn btn-danger" href="/" role="button">GO BACK</a>
</div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js" integrity="sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7" crossorigin="anonymous"></script>
  </body>
</html>
