<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="stylesheet" href="/css/availableticket.css" />
  <title>Easygo</title>
</head>

<body>
  
  <div id="main">
    <div id="bookingdiv">
      <div class="caraouselslider">
        <i class="fas fa-chevron-left slider slider-left"></i>
        <i class="fas fa-chevron-right slider slider-right"></i>
      </div>
      <img class="bookingimg" src="/img/loading2.jpg" alt="Bad Request" />
      <div class="booking-content">
        <ul class="navbar">
          <a href="">
            <h2 id="logo">EasyGo</h2>
          </a>
          <a href="">
            <li>HOME</li>
          </a>
          <a href="">
            <li>ABOUT US</li>
          </a>
          <a href="">
            <li>SIGN IN</li>
          </a>
          <a href="">
            <li>SIGN UP</li>
          </a>
        </ul>
        <div class="availabletickets">

        </div>

      </div>

    </div>
  </div>

  <script src="https://kit.fontawesome.com/eeb68990ce.js" crossorigin="anonymous"></script>
<script src="/js/availabletickets.js"></script>
</body>

</html>