<% if(navbar.length > 0) {%>

<ul class="navbar">
  <a href="">
    <h2 id="logo">EasyGo</h2>
  </a>
  <a href="/">
    <li>HOME</li>
  </a>
  <a href="/aboutus">
    <li>ABOUT US</li>
  </a>
  <a href="/mybookings">
    <li>MY BOOKINGS</li>
  </a>
  <a href="/profile">
    <li>MY PROFILE</li>
  </a>
</ul>

<% } %>
<% else {%> 
  <ul class="navbar">
    <a href="">
      <h2 id="logo">EasyGo</h2>
    </a>
    <a href="/">
      <li>HOME</li>
    </a>
    <a href="/aboutus">
      <li>ABOUT US</li>
    </a>
    <a href="/signin">
      <li>SIGN IN</li>
    </a>
    <a href="/signup">
      <li>SIGN UP</li>
    </a>
  </ul>
<% } %> 