<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/css/main.css" />
    <title>Easygo</title>
  </head>

  <body>
    <!-- <img id="bgimg"  src="/img/bgimg.jpg" alt="Bad Request" /> -->
    <div id="main">
      <div id="bookingdiv">
        <div class="caraouselslider">
          <i class="fas fa-chevron-left slider slider-left"></i>
          <i class="fas fa-chevron-right slider slider-right"></i>
        </div>
        <img class="bookingimg" src="/img/loading2.jpg" alt="Bad Request" />
        <div class="booking-content">
          <ul class="navbar">
            <a href=""><h2 id="logo">EasyGo</h2></a>
            <a href=""><li>HOME</li></a>
            <a href=""><li>ABOUT US</li></a>
            <a href=""><li>SIGN IN</li></a>
            <a href=""><li>SIGN UP</li></a>
          </ul>
          <div class="modeoftransport">
            <h4>PLANE</h4>
            <h4>TRAIN</h4>
            <h4>BUS</h4>
          </div>
          <div class="ticketbooking">
            <h2>PLANE BOOKING</h2>
            <div class="ticketdetails">
              <div class="from">
                <h3>FROM:</h3>
                <div class="from-details">
                  <select class="select-css from-select">
                    <option>--select--</option>
                    <option>BANGLORE</option>
                    <option>CHENNAI</option>
                    <option>MUMBAI</option>
                    <option>DELHI</option>
                    <option>HYDERABAD</option>
                  </select>
                </div>
              </div>
              <div class="to">
                <h3>TO:</h3>
                <div class="to-details">
                  <select class="select-css">
                    <option>--select--</option>
                    <option>BANGLORE</option>
                    <option>CHENNAI</option>
                    <option>MUMBAI</option>
                    <option>DELHI</option>
                    <option>HYDERABAD</option>
                  </select>
                </div>
              </div>
              <div class="departuredate">
                <h3>DEPARTURE DATE:</h3>
                <div class="departuredatedetails">
                  <input id="today" type="date" />
                </div>
              </div>
              <div class="passengers">
                <h3>PASSENGERS:</h3>
                <div class="passenger-details">
                  <select class="select-css">
                    <option>--ADULTS--</option>
    
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                    <option>10</option>
                  </select>
                  <select class="select-css">
                    <option>--CHILDREN--</option>
                    <option>0</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                    <option>10</option>
                  </select>
                </div>
              </div>
            </div>
            <button class="availability">CHECK AVAILABILITY &nbsp;<i class="fas fa-chevron-right"></i></i></button>
          </div>
 
        </div>
      </div>
    </div>
    <script
      src="https://kit.fontawesome.com/eeb68990ce.js"
      crossorigin="anonymous"
    ></script>

    <script src="/js/main.js"></script>
  </body>
</html>
