<%- include ('partials/header.ejs') %>
<h3 class="colors"style="text-align:center">My Bookings</h3>
<hr>
<div class="maincontainer">

</div>
<script src="/js/mybookingsdummy.js"></script>
<%- include ('partials/footer.ejs') %>