<%- include ('partials/header.ejs') %>
<div class="text-center">
  <main class="form-signin">
    <form class="profile-style">
      <i class="far fa-user-circle fa-4x"></i>
      <h1>My Profile</h1>
      <label for="inputEmail" class="visually-hidden">Email address</label>
      <h4><%= useremail%></h4>
      <a class="btn btn-primary s" href="/logout" role="button">Logout</a>
    </form>
  </main>


</div>

<%- include ('partials/footer.ejs') %>
