<%- include ('partials/header.ejs') %>


<div class="container-fluid">
  <h2 class="colors"style="text-align:center">Booking Details</h2>
  <div class="row nogutters">

    <div class="col-8 s" style="padding-top:10px;">

      <div class="modes">
        <h5 >Mode of transport: <span><strong class="modevalue"> Bus</strong></span></h5>
        <hr />
        <table class="table table-borderless">
        <tbody>
          <tr>
            <td scope="row">Name</td>
            <td><strong class="namevalue">VRL</strong></td>
            <td class="classinput">Class</td>
            <td><strong class="classvalue">SL</strong></td>
            <td >From Time</td>
            <td><strong class="fromtimevalue">19:05</strong></td>
            <td>To Time</td>
            <td><strong class="totimevalue">22:14</strong></td>
            <td >Date</td>
            <td><strong class="datevalue">11/02/2021</strong></td>
          </tr>
          <tr>
          <td scope="row">From</td>
          <td><strong class="fromvalue">Bengaluru</strong></td>
          <td>To</td>
          <td><strong class="tovalue">Delhi</strong></td>
          <td >Adults</td>
          <td><strong class="adultvalue">3</strong></td>
          <td >Children</td>
          <td><strong class="childrenvalue">2</strong></td>
          <td>Price</td>
          <td class="price" style="padding-left: 0px;
          padding-bottom: 0px;"><strong class="pricevalue">1000<i class="fas fa-rupee-sign"></i></strong></td>
          </tr>
          </tbody>
        </table>

      </div >
      <div class="returnbook" style="margin-left: 46rem; display: none;">
        <h5>Return booking: &nbsp;<strong class="returnbookpricevalue">1000</strong><i class="fas fa-rupee-sign"></i></h5>
      </div>
    
      <hr>
      <div class="hotels" >
        <h4> <span>Name:</span><strong class="hotelnamevalue"> Taj Palace Mumbai</strong></h4>
        <p><strong>Location: </strong > <span class="hotellocation">Apollo Bandar, Colaba, Mumbai, Maharashtra.</span></p>
        <hr>
        <table class="table table-borderless">
        <tbody>
          <tr>
            <td scope="row">From</td>
            <td><strong class="hoteldatevalue">11/06/2020</strong></td>
            <td>To</td>
            <td><strong class="hotelreturndatevalue">16/06/2020</strong></td>
            <td>Room-type</td>
            <td><strong class="roomtypevalue">Delux</strong></td>
           
          </tr>
          <tr>
          <td scope="row">Adults</td>
          <td><strong class="adultvaluehotel">3</strong></td>
          <td>Children</td>
          <td><strong class="childrenvaluehotel">2</strong></td>
       
          <td>Price</td>
          <td class="price" style="padding-left: 0px;
          padding-bottom: 0px;"><strong class="hotelprice">1000<i class="fas fa-rupee-sign"></i></strong></td>
          </tr>
          </tbody>
        </table>
        <hr>
      </div>
   
      <div class="totals">

          <div class="table">
            <table class="table">
              <tr>
                <td scope="row"><strong>Total</strong></td>
                <td class="Price" style="padding-left: 0px;
                padding-bottom: 0px;text-align:right;margin-left:80px"><strong class="totalpricevalue">2000<i class="fas fa-rupee-sign"></i></strong></td>
              </tr>
            </table>
          </div>

      </div>
    </div>
    <div class="col-4 p">
      <div class="pay" style="margin-top:10px;padding:20px">
        <h1 class="colors" style="text-align:center;padding-bottom:10px">Checkout</h1>
        <form class="needs-validation">
          <div class="row">
              <div class="col-md-6 mb-3">
                <label for="cc-name"><strong>Name on card</strong></label>
                <input type="text" class="form-control nameoncard" id="cc-name"  placeholder="" required>
                <small class="text-muted"><strong>Full name as displayed on card</strong></small>
                <div class="invalid-feedback">
                  Name on card is required
                </div>
              </div>
              <div class="col-md-6 mb-3">
                <label for="cc-number"><strong>Credit card number</strong></label>
                <input type="text" class="form-control creditcardnumber" id="cc-number" placeholder="" required>
                <div class="invalid-feedback">
                  Credit card number is required
                </div>
              </div>
            </div>
            <div class="row">
          <div class="col-md-3 mb-3">
            <label for="cc-expiration"><strong>Expiration</strong></label>
            <input type="text" class="form-control expirationnumber" id="cc-expiration" placeholder="" required>
            <div class="invalid-feedback">
              Expiration date required
            </div>
          </div>
          <div class="col-md-3 mb-3">
            <label for="cc-cvv"><strong>CVV</strong></label>
            <input type="text" class="form-control cvvnumber" id="cc-cvv" placeholder="" required>
            <div class="invalid-feedback">
              Security code required
            </div>
          </div>
        </div>
        <hr class="mb-4">
        <div class="buttondiv">
        <button class="btn btn-danger btn-lg btn-block paymentbutton">Continue to checkout</button>
      </div>
        </form>
      </div>
    </div>

      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.js"></script> 
<script src="/js/summary.js"></script>




<%- include ('partials/footer.ejs') %>
