@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");    /*logo and other content*/
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap'); /* navbar */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  #main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
  }
  /* main div */
  #bookingdiv {
   background-color: rgba(226, 226, 226,0.5);
    height: 94vh;
    width: 90vw;
    border-radius: 30px;
  }
  /* main div image */
  .bookingimg {
    position: absolute;
    height: 60vh;
    width: 90vw;
    border-radius: 30px;
    transition: all 0.4s ease-in-out;
  }
  /* inside div */
  .booking-content {
    position: relative;
  }
  #logo {
    font-family: "Acme", sans-serif;
    color: rgb(255, 255, 255);
    letter-spacing: 3px;
    font-size: 3.8rem;
    margin-left: -30px;
    margin-top: 15px;
  }
  #logo:hover {
    transform: scale(1.1);
  }
  .navbar {
    font-family: 'Lora', serif;
    letter-spacing: 1px;
  
    display: flex;
    justify-content: space-around;
    list-style-type: none;
  }
  .navbar li {
   
    color: black;
    background-color: rgba(255, 255, 255, 0.8);
    font-weight: 1000;
    font-size: 1.2rem;
    margin-top: 1.2rem;
    margin-right: 2rem;
    padding: 1rem;
    border-bottom: 2px solid black;
    border-radius: 10px 10px 0px 0px;
  }
  .navbar a {
    text-decoration: none;
  }
  .navbar li::after:hover {
    border-radius: 20px;
  }
  .navbar li:hover {
    transform: scale(1.1);
    background-color: rgba(255, 255, 255, 1);
    /* background-color: tomato; */
  
  }
  
/* caraousel-slider */
.caraouselslider{
    display: none;
    pointer-events: none;
  }

  /* available tickets */
  .availabletickets{
        
  }